.oculto{
    display: none;
}
.principal{
    margin-top: 7rem;
}
td {
    padding: .5rem;
  }
  .form-control:focus {
    border-color: #B7D93D !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
} 